APP_NAME="Web Blogging KPL"
APP_ENV=development

DB_HOST=localhost
DB_USER=root
DB_PASS=""
DB_NAME=blog_db

BASEURL="http://tubes.test"

RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

CSRF_SECRET_KEY=""